.card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .edit-form input {
    display: block;
    margin-bottom: 10px;
  }
  
  .comment {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .comment:focus {
    outline: none;
  }
  
  button {
    margin: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #1E90FF;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0080FF;
  }
  
  button:active {
    background-color: #0073e6;
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  